-# frozen_string_literal: true
= simple_form_for(@enrollment) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :avaliacao, collection: 1..5, as: :radio_buttons
    = f.input :comentarios

  .form-actions
    = f.submit "Confirmar", class:"btn btn-primary"
