- content_for :titulo do
  TestMaker 
  \/ 
  = @course.titulo
= link_to 'Courses', courses_path
\/
= link_to @course.titulo, course_path(@course)
%p

.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron
      %h3
        = @course.titulo
      .p-3
      .row
      = @course.updated_at.strftime("%m/%Y")
      .row
      = @course.linguagens
      .row
      = @course.nivel
      .p-3
      = @course.descricao

    %h4
      .fa.fa-tasks
      Lições:
      = @course.lessons.count
    %ul.list-group
      - @lessons.each do |lesson|
        = render 'lessons/lesson', lesson: lesson
    %p





  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p
