%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "/"} TestMaker
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/')}"}
          = link_to '/', class: 'nav-link' do
            Home
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/courses')}"}
          = link_to '/courses', class: 'nav-link' do
            Cursos
        .form-inline
      %ul.navbar-nav.mr-auto
        - if current_user.has_role?(:estudante)
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/rapidfire')}"}
            = link_to '/rapidfire', class: 'nav-link' do
              Questionários
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/courses/enrolled')}"}
            = link_to '/courses/enrolled', class: 'nav-link' do
              Inscrições do aluno
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/courses/pending_review')}"}
            = link_to '/courses/pending_review', class: 'nav-link' do
              Cursos avaliados

        - if current_user.has_role?(:professor)
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/courses/new')}"}
            = link_to '/courses/new', class: 'nav-link' do
              Novo curso
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/rapidfire')}"}
            = link_to '/rapidfire', class: 'nav-link' do
              Questionários
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/courses/created')}"}
            = link_to '/courses/created', class: 'nav-link' do
              Meus cursos
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/enrollments/my_students')}"}
            = link_to '/enrollments/my_students', class: 'nav-link' do
              Meus alunos
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/analytics')}"}
            = link_to '/analytics', class: 'nav-link' do
              Analytics 

        - if current_user.has_role?(:admin)
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/enrollments')}"}
            = link_to  '/enrollments', class: 'nav-link' do
              Inscrições
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/rapidfire')}"}
            = link_to '/rapidfire', class: 'nav-link' do
              Questionários
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/analytics')}"}
            = link_to '/analytics', class: 'nav-link' do
              Analytics   
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?('/users')}"}
            = link_to '/users', class: 'nav-link' do
              Usuários  


      %b= current_user.username
      %ul.navbar-nav.mr-right
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to 'users/edit', class: 'nav-link' do
            Configurações da Conta
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to 'users/sign_out', method: :delete,class: 'nav-link' do
            Sair

    - else
      %ul.navbar-nav
        %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'