!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Testmaker
    %meta{:content => "width=device-width,initial-scale=0", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true
  %body
    - unless controller_name == "surveys"
      = render 'layouts/header'
    %p.notice= notice
    %p.alert= alert
    %p
    = yield
  %br
    .bg-dark.text-white
      - unless controller_name == "surveys"
        = render 'layouts/footer'
